.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin { 
  0% { transform:rotate(0deg); opacity:0; }
  30% { transform:rotate(5000deg); opacity:0; }
  40% { transform:rotate(10000deg); opacity:0.2; }
  50% { transform:rotate(1500deg); opacity:0.5; }
  60% { transform:rotate(17000deg); opacity:1; }
  70% { transform:rotate(17500deg); }
  80% { transform:rotate(17800deg); }
  90% { transform:rotate(17950deg); }
  100% { transform:rotate(18000deg); }
}


